*{
    padding: 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}
a{
    color: none;
    font-style: none;
    text-decoration: none;
}



body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(180deg, #100124 0%, rgba(30, 29,79,0.8)100%);
    width: 100%;
    height: 50vw;
    overflow-x: hidden;
}
#esquerdo{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#esquerdo a {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#esquerdo form{
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
}
#esquerdo form button{
    margin: 0px;
    border: none;
    height: 50px;

    
}
#esquerdo form button:hover{
    cursor: pointer;
    background-color: rgb(0, 43, 59);
}
#esquerdo form button:active{
    cursor: pointer;
    background-color: rgb(0, 90, 117);
}
    
#esquerdo form button img{
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
    text-align: center;
}
#esquerdo form input{
    border: none;
    width: 100%;
    height: 50px;
    color: black;
    font-size: 18px;
}

#abas{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
}
#abas form{
    
    display: flex;
    padding: 10px;
    background-color: transparent;
    
}

#abas form button{
    display: flex;
    border-radius: 20px;
    background-color: rgb(130, 143, 255);
}
#abas form button img{
    justify-content: center;
    width: 60px;	
    
}
#abas form button h3{
    font-size: 30px;
}

#centro{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cata{
    margin-top: 3%;
    width:70vw;
    
}

filme img{
    width: 300px;
}
#informacoes{
    margin-left: 15px;
    width: fit-content;
    height: fit-content;
    
}

#informacoes h3{
    padding: 10px;
}



#informacoes a{
    
}
    
#informacoes a h3{
    background-color: rgb(84, 255, 84);
    border-radius: 20px;
    color: black;
    width: fit-content;
    
}
.edit input{
    background-color: #100124;
}
.edit button{
    background-color: black;
    
}

.edit{
    margin-top: 50px;
}