
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7552516974482581"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pesquisasss.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div id="esquerdo">
        <a href="{% url 'home' %}"><header>Projetc</header></a>
  
        <form action="{% url 'pesquisa' %}" method="POST">{% csrf_token %}
            <button type="submit"><img class="icon" src="{% static 'image/lupa.png' %}" alt="lupa nao encontrada">
</button>
            <input type="text" placeholder="Pesquisar" name="pesquisa">
        </form>

        <div id="abas">
            <form id="a" action="{% url 'abas' 'filme' %}" method="post">{% csrf_token %}
              <button name="btnfilme" type="submit" >
                <img src="{% static 'image/filme.png' %}">
                <h3>Filmes</h3>
              </button>
            </form>
  
            <form action="{% url 'abas' 'serie' %}" method="post">{% csrf_token %}
              <button name="btnserie" type="submit"> 
                <img src="{% static 'image/database.png' %}">
                <h3>Series</h3>
              </button>
            </form> 
          </div>
    </div>

    <div id="direito">
        {% for resultados in resultado%}
            <form action="{% url 'filme' id=resultados.id %}"  method="POST"> {% csrf_token %}
                <button type="submit">
            
                    <img id="imagem_filme" src="https://image.tmdb.org/t/p/w500/{{ resultados.tamb }}">
            
                    <h3>{{ resultados.nome }}</h3>
        
                </button>
            </form>
    
        {%endfor%} 
    </div>
    
</body>
</html>