{% extends 'base.html' %}
{% load static %}

{% block title %}Links disponíveis{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/maim.css' %}">{% endblock %}

{% block content %}
<div class="download-container">
    <div class="download-header"><h2>Download disponível</h2></div>
    <div class="download-options">
        {% if link.link_1080p_dub %}<a href="{{ link.link_1080p_dub }}" rel="noopener noreferrer" class="download-button">1080p dublado</a>{% endif %}
        {% if link.link_720p_dub %}<a href="{{ link.link_720p_dub }}" rel="noopener noreferrer" class="download-button">720p dublado</a>{% endif %}
        {% if link.link_1080p_eng %}<a href="{{ link.link_1080p_eng }}" rel="noopener noreferrer" class="download-button">1080p legendado</a>{% endif %}
        {% if link.link_720p_eng %}<a href="{{ link.link_720p_eng }}" rel="noopener noreferrer" class="download-button">720p legendado</a>{% endif %}
        {% if not link.link_1080p_dub and not link.link_720p_dub and not link.link_1080p_eng and not link.link_720p_eng %}
            <p>Nenhum link disponível.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
