*{
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(to left, #242424, #8a8a8a, #333333, #000000);
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}